.blog-post {
  margin-top: 90px;
  margin-bottom: 90px;
  color: var(--font-colour);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--hover);
}
a:hover {
  border-bottom: 2px solid var(--hover);
}

p, li {
  font-weight: 500;
}

li {
  line-height: 1.5rem;
}

code {
  background-color: var(--bg-code);
  border-radius: 3px;
  padding: 0 3px;
}

@media (max-width: 768px) {
  .blog-post {
    margin-top: 50px;
  }
}
