@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

:root {
  --bg-colour: #fff;
  --header-colour: #0E153A;
  --text-colour-light: #798188;
  --accent-colour: #7D52D0;
  --outline-colour: #D0D0D0;
}

/* [data-theme="dark"] {
  --font-colour: rgb(179, 185, 197);
  --bg-colour: #121212;
  --hover: #5183F5;
  --bg-code: #262626;
} */

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-colour);
}
