/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

:root {
  --gradient: linear-gradient(to right, #5183F5 25%, #4640FF 100%);
  --font-colour: black;
  --bg-colour: #fff;
  --hover: #4640FF;
}

[data-theme="dark"] {
  --gradient: linear-gradient(to right, #5183F5 25%, #4640FF 100%);
  --font-colour: rgb(179, 185, 197);
  --bg-colour: #121212;
  --hover: #5183F5;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--bg-colour);
}
