.app-home {
  margin-top: 100px;
  margin-bottom: 100px;
}

.lists {
  display: flex;
  flex-direction: row;
}

.project-holder {
  margin-right: 0;
  margin-left: auto;
}

@media (max-width: 768px) {
  .app-home {
    margin-top: 50px;
  }
}
