.app-blog {
  margin-top: 90px;
  margin-bottom: 90px;
}

.year-section {
  display: flex;
  align-items: center;
}

h1 {
  color: var(--accent-colour);
}

hr {
  width: 36rem;
  height: 2px;
  margin: 0 0 0.1rem 1rem;
  background-color: var(--outline-colour);
  border: none;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  color: var(--header-colour);
  margin: 0;
  transition: all 0.2s ease-in-out 0s;
}
h2:hover {
  color: var(--accent-colour);
}

p {
  color: var(--text-colour-light);
  margin: 8px 0 8px 0;
  font-weight: 500;
}

.description {
  font-size: 1.2rem;
}

.date {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .app-blog {
    margin-top: 30px;
  }
}
