.header {
  margin-top: 100px;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--text-colour-light);
  transition: all 0.2s ease-in-out 0s;
}
a:hover {
  color: var(--accent-colour);
}

.right-links {
  float: right;
}

.blog-link {
  margin: 0 2.5rem 0 2.5rem;
}

button {
  background: unset;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  padding: 0;
}

@media (max-width: 768px) {
  .header {
    margin-top: 30px;
  }
}

@media (max-width: 425px) {
  .header {
    display: flex;
    flex-direction: column;
  }

  .right-links {
    margin-top: 0.5rem;
    float: unset;
  }

  .blog-link {
    margin: 0 1.5rem 0 1.5rem;
  }
}
