.header {
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile a {
  margin-left: 0;
}
.profile a:hover {
  border-bottom: none;
}

.profile-text {
  margin-left: 15px;
  max-width: 330px;
  word-break: break-word;
}

.links {
  margin-left: auto;
  margin-right: 0;
}

.blog-link {
  margin-left: 0;
}

img {
  width: 70px;
  height: 70px;
}

h1 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  color: var(--font-colour);
}

p {
  font-size: 16px;
  margin: 0;
  font-weight: 500;
  color: var(--font-colour);
}

a {
  margin-left: 25px;
  font-weight: 500;
  text-decoration: none;
  color: var(--font-colour);
}
a:hover {
  color: var(--hover);
  border-bottom: 2px solid var(--hover);
}

button {
  margin-left: 25px;
  background: unset;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }

  .profile {
    flex-direction: column;
  }

  .profile-text {
    margin-left: 0;
  }

  .links {
    margin-left: unset;
    margin-right: unset;
    margin-top: 20px;
  }

  a {
    margin-left: 10px;
  }

  button {
    margin-left: 10px;
    background: unset;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  p {
    margin-top: 20px;
  }
}
